<form [formGroup]="form">
  <label>
    <input type="radio" value="yes" formControlName="display" (click)="clearSubmit()">
      <span>Display form</span>
  </label>
  <label>
    <input type="radio" value="no" formControlName="display" (click)="clearSubmit()">
      <span>Hide form</span>
  </label>
  <div [style.visibility]="display ? 'visible' : 'hidden'">
    <label>Enter a number less than 50:</label><input  (click)="clearSubmit()" type="number" min="0" max="100" step="1" placeholder="49" required formControlName="mynumber" name="mynumber">
  </div>
  
  

  <br>

  <button 
    [disabled]="form.invalid"
    color="primary"
    (click)="submit()">
    Submit
  </button>
<div *ngIf="form.invalid" style="color:#eb0000">Value is greater than 50</div>
<div *ngIf="!form.invalid && formsubmitted" style="color:#009900">Your form has been submitted successfully!</div>


</form>